body {
  background-color: #643A43;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  margin: 0;
}

#sidebar {
  background-color: #E9DCCD;
  float: left;
  height: 1300px;
  left: 0;
  width: 200px;
}

#profile-pic {
  height: 150px;
  margin: 25px 25px 0px;
  width: 150px;
}

h3 {
  color: #36384C;
  font-weight: 300;
  margin: 0;
  text-align: center;
}

h4 {
  color: #777777;
  font-size: 12px;
  font-weight: 300;
  margin-left: 10px;
}

ul {
  color: #36384C;
  list-style-type: none;
  padding-left: 10px;
}

li {
  /*border: 1px solid #999999;*/
  margin: 15px auto;
  font-size: 12px;
}

hr {
  border-color: #999999;
  width: 90%;
}

#primary-content {
  float: right;
  width: 75%;
}

header {
  background-color: transparent;
  height: 270px;
  width: 100%;
}

#top-bar {
  background-color: transparent;
  display: flex;
  height: 75px;
  width: 100%;
}

.top-bar-option {
  background-color: transparent;
  border-bottom: 1px solid #E9DCCD;
  border-left: 1px solid #E9DCCD;
  height: 75px;
  width: 75px;
}

.top-bar-icon {
  fill: #333333;
  margin: 25px 0 0 25px;
  height: 25px;
  width: 25px;
}

#magnifying-glass {
  border-right: none;
}

#search {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #E9DCCD;
  flex-grow: 6;
  font-size: 12px;
  margin-bottom: -1px;
}

#middle-bar {
  height: 150px;
  width: 100%
}

#middle-bar-left {
  float: left;
  width: 50%;
}

h1 {
  color: #E9DCCD;
  font-family: 'Raleway';
  margin: 35px 0 0 15px;
}

#middle-bar-left-subtext {
  color: #E9DCCD;
  display: flex;
}

#location-pin {
  height: 20px;
  margin: 15px 0 0 15px;
  width: 20px;
}

#location-text {
  color: #E9DCCD;
  font-size: 14px;
  margin-left: 5px;
}

#middle-bar-left-preview {
  color: #849974;
  font-size: 14px;
  margin: 14px 0 0 5px;
  text-decoration: none;
}

#middle-bar-right {
  display: flex;
  float: right;
  margin-top: 50px;
}

.middle-bar-right-icon {
  border: 1px solid #E9DCCD;
  border-radius: 50%;
  height: 20px;
  margin: 0 5px;
  padding: 5px;
  width: 20px;
}

#middle-bar-right-open {
  align-items: center;
  border: 1px solid #E9DCCD;
  border-radius: 200px;
  display: flex;
  height: 30px;
  justify-content: space-between;
  margin-right: 10px;
  text-align: center;
  width: 80px;
}

#middle-right-dot {
  background: #849974;
  border-radius: 50%;
  margin-left: 10px;
  height: 10px;
  width: 10px;
}

#middle-right-text {
  color: #E9DCCD;
  margin-right: 10px;
}

nav {
  background-color: transparent;
  display: flex;
  height: 50px;
  margin-top: 10px;
  width: 100%;
}

.nav-option {
  background-color: transparent;
  border-bottom: 5px solid transparent;
  color: #E9DCCD;
  font-weight: 500;
  height: 30px;
  justify-content: space-around;
  margin: 0 3px;
  text-align: center;
  width: 100px;
}

.nav-option:hover {
  border-bottom: 5px solid #E3BAB3;
  border-bottom-width: 60%;
}

main {
  background-color: #E3BAB3;
  width: 100%;
}

#top-main {
  height: 250px;
  width: 100%;
}

#top-main-graphics {
  display: flex;
  width: 100%;
  margin: 0;
}

#circles {
  display: flex;
}

.circle1 {
  margin: 40px 30px 0;
  height: 120px;
  width: 120px;
}

.circle1-skeleton {
  position: absolute;
  border: 10px solid #E9DCCD;
  border-bottom: 10px solid #849974;
  border-radius: 50%;
  background-color: transparent;
  height: 120px;
  transform: rotate(45deg);
  width: 120px;
}

.circle1-fill {
  position: absolute;
  /*margin: 40px 10px 0;*/
  border: 10px solid #849974;
  border-bottom: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  border-radius: 50%;
  background-color: transparent;
  height: 120px;
  transform: rotate(0deg);
  width: 120px;
}

.circle2 {
  margin: 40px 30px 0;
  height: 120px;
  width: 120px;
}

.circle2-skeleton {
  position: absolute;
  border: 10px solid #E9DCCD;
  border-bottom: 10px solid #36384C;
  border-radius: 50%;
  background-color: transparent;
  height: 120px;
  transform: rotate(45deg);
  width: 120px;
}

.circle2-fill {
  position: absolute;
  /*margin: 40px 10px 0;*/
  border: 10px solid #36384C;
  border-bottom: 10px solid transparent;
  border-right: 10px solid transparent;
  border-radius: 50%;
  background-color: transparent;
  height: 120px;
  transform: rotate(20deg);
  width: 120px;
}

.circle3 {
  margin: 40px 30px 0;
  height: 120px;
  width: 120px;
}

.circle3-skeleton {
  position: absolute;
  border: 10px solid #E9DCCD;
  border-bottom: 10px solid #293538;
  border-radius: 50%;
  background-color: transparent;
  height: 120px;
  transform: rotate(45deg);
  width: 120px;
}

.circle3-fill {
  position: absolute;
  /*margin: 40px 10px 0;*/
  border: 10px solid #293538;
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
  border-top: 10px solid transparent;
  border-radius: 50%;
  background-color: transparent;
  height: 120px;
  transform: rotate(-140deg);
  width: 120px;
}

#graph {
  height: 150px;
  margin: 40px 10px 0 20px;
  width: 250px;
  background-color: yellow;
}

#top-main-text {
  display: flex;
  justify-content: space-around;
}

#main-page-break {
  display: flex;
}

#bottom-main {
  display: flex;
  height: 700px;
  width: 100%;
  justify-content: space-between;
}

#bottom-main-left {
  background-color: yellow;
  width: 60%;
  height: 90%;
  margin: 20px;
}

#bottom-main-right {
  background-color: yellow;
  height: 90%;
  margin: 20px;
  width: 30%;
}
