body {
  background-color: #988C8C;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  margin: 0;
}

#page-wrapper {
  max-width: 1300px;
  margin: 0 auto;
}

#sidebar {
  background-color: #E9DCCD;
  float: left;
  height: 1300px;
  left: 0;
  width: 16%;
}

#profile-pic {
  background: url('images/profile.jpg');
  background-size: cover;
  border-radius: 50%;
  height: 150px;
  margin: 25px 25px 10px;
  width: 150px;
}

h2 {
  color: #36384C;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  text-align: center;
}

h3 {
  color: #777777;
  font-size: 12px;
  font-weight: 300;
  margin-left: 10px;
}

ul {
  color: #36384C;
  list-style-type: none;
  padding-left: 0;
}

.sidebar-top-icons, .sidebar-bottom-icons {
  /*border: 1px solid #999999;*/
  margin: 0 auto;
  padding: 10px 0 10px 15px;
  font-size: 12px;
}

.sidebar-top-icons:hover {
  background-color: #C2B7AB;
  border-left: 4px solid #849974;
}

.sidebar-icon {
  color: #36384C;
  height: 15px;
  padding-right: 7px;
}

.sidebar-break {
  border-color: #999999;
  width: 90%;
}

input[type="checkbox"] {
  margin-right: 10px;
}

#primary-content {
  float: right;
  width: 84%;
}

header {
  background-color: #643A43;
  height: 270px;
  margin: 0;
  width: 100%;
}

#top-bar {
  background-color: transparent;
  display: flex;
  height: 75px;
  width: 100%;
}

.top-bar-right, .top-bar-left {
  background-color: transparent;
  border-bottom: 1px solid #E9DCCD;
  border-left: 1px solid #E9DCCD;
  height: 75px;
  width: 75px;
}

.top-bar-right:hover {
  background-color: #E9DCCD;
}

.top-bar-icon {
  margin: 25px 0 0 25px;
  height: 25px;
  width: 25px;
}

#magnifying-glass {
  border-right: none;
}

#search {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #E9DCCD;
  flex-grow: 6;
  font-size: 12px;
  margin-bottom: -1px;
}

#middle-bar {
  height: 150px;
  width: 100%
}

#middle-bar-left {
  float: left;
  width: 50%;
}

h1 {
  color: #E9DCCD;
  font-family: 'Raleway';
  margin: 35px 0 0 15px;
}

#middle-bar-left-subtext {
  color: #E9DCCD;
  display: flex;
}

#location-pin {
  height: 20px;
  margin: 15px 0 0 15px;
  width: 20px;
}

#location-text {
  color: #E9DCCD;
  font-size: 14px;
  margin-left: 5px;
}

#middle-bar-left-preview {
  color: #FFFFFF;
  font-size: 14px;
  margin: 14px 0 0 5px;
  text-decoration: none;
}

#middle-bar-right {
  display: flex;
  float: right;
  margin-top: 50px;
}

.middle-bar-right-icon {
  border: 1px solid #E9DCCD;
  border-radius: 50%;
  height: 20px;
  margin: 0 5px;
  padding: 5px;
  width: 20px;
}

#middle-bar-right-open {
  align-items: center;
  border: 1px solid #E9DCCD;
  border-radius: 200px;
  display: flex;
  height: 30px;
  justify-content: space-between;
  margin-right: 10px;
  text-align: center;
  width: 80px;
}

#middle-right-dot {
  background: #849974;
  border-radius: 50%;
  margin-left: 10px;
  height: 10px;
  width: 10px;
}

#middle-right-text {
  color: #E9DCCD;
  margin-right: 10px;
}

nav {
  background-color: transparent;
  display: flex;
  height: 50px;
  margin-top: 10px;
  width: 100%;
}

.nav-option {
  background-color: transparent;
  border-bottom: 5px solid transparent;
  color: #E9DCCD;
  font-weight: 500;
  height: 30px;
  justify-content: space-around;
  margin: 0;
  padding: 0 3px;
  text-align: center;
  width: 100px;
}

.nav-option:hover {
  border-bottom: 5px solid #E9DCCD;
}

main {
  background-color: #E3BAB3;
  margin: 0;
  width: 100%;
}

#top-main {
  height: 250px;
  display: flex;
}

#circle-graphics {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
}

#top-main-graphics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  text-align: center;
}

h5 {
  font-size: 24px;
  position: absolute;
  margin: 45px 0 0 45px;
}

h6 {
  font-size: 18px;
  position: absolute;
  margin: 70px 0 0 43px;
}

.circle1 {
  margin: 40px 50px 0 5%;
  height: 120px;
  width: 120px;
}

.circle1-skeleton {
  position: absolute;
  border: 10px solid #E9DCCD;
  border-bottom: 10px solid #849974;
  border-radius: 50%;
  background-color: transparent;
  height: 120px;
  transform: rotate(45deg);
  width: 120px;
}

.circle1-fill {
  position: absolute;
  /*margin: 40px 10px 0;*/
  border: 10px solid #849974;
  border-bottom: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  border-radius: 50%;
  background-color: transparent;
  height: 120px;
  transform: rotate(0deg);
  width: 120px;
}

.circle2 {
  margin: 40px 50px 0 0;
  height: 120px;
  width: 120px;
}

.circle2-skeleton {
  position: absolute;
  border: 10px solid #E9DCCD;
  border-bottom: 10px solid #36384C;
  border-radius: 50%;
  background-color: transparent;
  height: 120px;
  transform: rotate(45deg);
  width: 120px;
}

.circle2-fill {
  position: absolute;
  border: 10px solid #36384C;
  border-bottom: 10px solid transparent;
  border-right: 10px solid transparent;
  border-radius: 50%;
  background-color: transparent;
  height: 120px;
  transform: rotate(20deg);
  width: 120px;
}

.circle3 {
  margin: 40px 80px 0 0;
  height: 120px;
  width: 120px;
}

.circle3-skeleton {
  position: absolute;
  border: 10px solid #E9DCCD;
  border-bottom: 10px solid #4C4646;
  border-radius: 50%;
  background-color: transparent;
  height: 120px;
  transform: rotate(45deg);
  width: 120px;
}

.circle3-fill {
  position: absolute;
  border: 10px solid #4C4646;
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
  border-top: 10px solid transparent;
  border-radius: 50%;
  background-color: transparent;
  height: 120px;
  transform: rotate(-140deg);
  width: 120px;
}

#top-main-text {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#graph-img {
  width: 100%;
}

.circles-text {
  margin-top: 40px;
}

.top-main-button {
  background: #E9DCCD;
  border: 1px solid #643A43;
  border-radius: 200px;
  font-size: 12px;
  font-weight: 500px;
  padding: 7px 10px;
}

#main-page-break {
  display: flex;
}

.main-breaks {
  border: 1px solid #643A43;
  height: 0;
  margin-top: 23px;
  width: 45%;
}

.page-break-icon {
  height: 20px;
  margin: 15px;
}

#bottom-main {
  display: flex;
  height: 730px;
  width: 100%;
  justify-content: space-between;
}

#bottom-main-left {
  background-color: #E9DCCD;
  height: 90%;
  margin: 20px 0 20px 20px;
  width: 63%;
}

#bottom-main-left-header {
  background-color: #643A43;
  color: #E9DCCD;
  display: flex;
  height: 10%;
  font-weight: 700;
  width: 100%;
}

.bottom-main-left-text {
  margin: 0;
  padding: 20px 35px 0;
}

.edit-button {
  align-items: center;
  background-color: #E9DCCD;
  color: #643A43;
  font-size: 12px;
  display: flex;
  height: 40%;
  margin: 18px 0 0 6%;
  padding: 0 5px 0 5px;
}

#edit-button-icon {
  height: 15px;
  padding-right: 5px;
  width: 20px;
}

#synopsis {
  color: #643A43;
  font-size: 14px;
  font-family: 'Open Sans';
  margin-left: 5%;
  width: 90%;
}

#synopsis tr {
  align-items: center;
  border-bottom: 1px solid #643A43;
  display: flex;
}

#synopsis tr:last-child {
  border-bottom: 1px solid transparent;
}

.bottom-main-right-bold {
  font-weight: 700;
  padding: 25px 20px 25px 0;
  text-align: left;
  width: 25%;
}

.bottom-main-right-info {
  padding: 25px 0 25px 20px;
  width: 55%;
}

#bottom-main-right {
  background-color: transparent;
  height: 90%;
  margin: 20px 20px 20px 0;
  width: 30%;
}

.social-button {
  color: #E9DCCD;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 700;
  margin: 0px auto 15px;
  width: 100%;
}

.social-network-logo {
  height: 15px;
  margin-left: 20px;
  margin-right: 20%;
}

.facebook {
  background-color: #849974;
  padding: 20px 0 20px 0px;
}

.twitter {
  background-color: #36384C;
  padding: 20px 0 20px 0px;
}

.linkedin {
  background-color: #4C4646;
  padding: 20px 0 20px 0px;
}

.bottom-left-icon {
  height: 25px;
  padding-right: 20px;
}

.bottom-left-blurb {
  color: #4C4646;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
}

.bottom-left-blurb-detail {
  color: #4C4646;
  font-weight: 400px;
  font-size: 14px;
  margin: 10px 0px;
}

.bottom-left-blurb-input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 20px;
}

.btl-input {
  height: 50px;
  margin: 0;
  padding-left: 10px;
  width: 70%;
}

.btl-input-copy {
  color: #E9DCCD;
  background-color: #643A43;
  margin: 0;
  padding: 19px 0;
  text-align: center;
  width: 30%;
}

@media screen and (max-width: 1000px) {
    #sidebar {
      display: none;
      width: 0%;
    }

    #primary-content {
      width: 100%;
    }
  }

@media screen and (max-width: 850px) {
  #top-main {
    display: flex;
    flex-direction: column;
    height: 600px;
  }

  #top-main-graphics {
    flex-direction: column;
  }

  #main-page-break {
    display: none;
  }

  #graph-img {
    margin-top: 50px;
    width: 100%;
  }

  #bottom-main-left {
    height: 95%;
  }

  }

@media screen and (max-width: 700px) {

  header {
    height: 300px;
  }

  h1 {
    color: #E9DCCD;
    font-family: 'Raleway';
    font-size: 24px;
    margin: 35px auto 0;
  }

  nav {
    display: none;
  }

  #middle-bar {
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 100%
  }

  #middle-bar-left {
    text-align: center;
    float: none;
    width: 100%;
  }

  #middle-bar-left-subtext {
    display: flex;
    margin-right: 20px;
    justify-content: center;
  }

  #location-text {
    text-align: center;
  }

  #middle-bar-right {
    float: none;
    justify-content: center;
    margin-top: 15px;
    width: 100%;
  }

  .middle-bar-right-icon {
    height: 40px;
    width: 40px;
  }

  #middle-bar-right-open {
    height: 50px;
    width: 100px;
  }

  #middle-right-dot {
    margin-left: 20px;
    height: 20px;
    width: 20px;
  }

  #bottom-main {
    flex-direction: column;
    height: 1400px;
  }

  #bottom-main-left {
    height: 80%;
    margin: 0 5%;
    width: 90%;
  }

  #bottom-main-right {
    margin: 30px 5% 0;
    width: 90%;
  }

  }

@media screen and (max-width: 500px) {
  #top-bar {
    height: 70px;
  }

  .top-bar-right, .top-bar-left {
    height: 70px;
    width: 20%;
  }

  .top-bar-left:hover {
    background-color: #E9DCCD;
  }

  .top-bar-icon {
    margin: 20px 0 0 30%;
    height: 30px;
    width: 30px;
  }

  #search {
    display: none;
  }

  #top-main {
    height: 800px;
  }

  #circle-graphics{
    flex-direction: column;
    align-items: center;
  }

  .circle1 {
    margin: 15px 10px 15px 0;
    padding: 0;
  }

  .circle2 {
    margin: 15px 10px 15px 0;
    padding: 0;
  }

  .circle3 {
    margin: 15px 10px 15px 0;
    left: 50%;
  }

  .top-main-button {
    text-align: center;
  }

  #bottom-main {
    height: 1600px;
  }

}
